<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated ASCII Art</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <form action="/ascii-art" method="POST"></form>
    <div class="container">
        <h1>Generated ASCII Art</h1>
        <pre>{{.AsciiArt}}</pre>
        <a href="/" class="back-button">Back</a>
        <a href="/download?file={{.Filename}}" class="download-button">Download</a>
    </div>
</body>
</html>
